/* *{
background-color: black;
} */

.grid{
    position: relative;
    height: 600px;
    width: 1500px;
    border: 2px solid black;
}

.block{
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rgb(8, 108, 103);
}

.user{
    position: absolute;
    height: 20px;
    width: 100px;
    background-color: rgb(158, 7, 118);
}

.ball{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(184, 72, 31);
}

#score{
    position: absolute;
    margin: 0px 20px;
}