.grid{
    /* position: relative; */
    height: 600px;
    width: 1500px;
    /* height: 300px;
    width: 300px; */
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 50px;
    width: 50px;   
}

.invader {
    background-color: purple;
    border-radius: 25px;
}

.shooter {
    background-color: orangered;
    border-radius: 15px;
}

.laser{
    background-color: green;
    border-radius: 15px;
}

.boom{
    background-color: brown;
}